*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/UpFile/nbproject/private/
/FileUpload/target/
/UpFile/build/
/upfile/nbproject/private/
/upfile/build/
/upfile/dist/
/projetTest/nbproject/private/
/projetTest/build/
/projetTest/dist/
/projetUpFile/nbproject/private/
/test_upfile/nbproject/private/
/test_upfile/build/
/test_upfile/dist/
/test_upfile/web/WEB-INF/glassfish-resources.xml
